#mainbox{
    background-color: #edec4970;
    border: 5px solid crimson ;
    width: 300px;
   top: 10%;
    margin: auto;
    padding-left: 20px;
    padding-bottom: 20px;
   text-align: center;
   
}
